<!DOCTYPE html>
<html lang="ko">
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
<title>Header</title>
</head>
<body>
<div class="header">
	<header>
		<div class="logo">
			<a href="#"><img alt="mainlogo" src="/img/mainlogo.png" id="mainlogo"></a>
		</div>
		
		
		<nav>
			<ul class="navigation">
				<li><a href="/v">VIDEO</a></li>
				<li><a href="/board">BOARD</a></li>
				<li><a href="/mealkit/">MEALKIT</a></li>
				<li><a href="/health/healthMap">HEALTH</a></li>
			</ul>
		</nav>
	</header>
</div>
</body>
</html>