<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../header.css">
<link rel="stylesheet" type="text/css" href="/video.css">
<link rel="stylesheet" type="text/css" href="/footer.css">
<title>아보카도</title>

</head>

<body>
	<div class="header">
		<header>
			<div class="logo">
				<a href="#"><img alt="mainlogo" src="/img/mainlogo.png" id="mainlogo"></a>
			</div>
			
			
			<nav>
				<ul class="navigation">
					<li><a href="/v">VIDEO</a></li>
                    <li><a href="/board">BOARD</a></li>
					<li><a href="/mealkit/">MEALKIT</a></li>
					<li><a href="/health/healthMap">HEALTH</a></li>
				</ul>
			</nav>
		</header>
	</div>
	
	<div class="video">
		<h2 style="color: #967B55;">VIDEO</h2>
	</div>
	<div class="container">
		<!-- <h3 style="text-align: center; color: #4080bf;">글 목록</h3>
		<h5 style="text-align: center; color: blue;">
			현재 페이지 : <span th:text="${page.currentPage}"></span> / 전체페이지 : <span th:text="${page.totalPage}"></span>
		</h5> -->
		
		<nav>
			<ul class="category">
				<li id="category"><a href="#">전체</a></li>
				<li id="category"><a href="#">홈트</a></li>
				<li id="category"><a href="#">웨이트</a></li>
				<li id="category"><a href="#">요가</a></li>
				<li id="category"><a href="#">스트레칭</a></li>
			</ul>
		</nav>
		<div class="videolist">
			<table class="videotable">
				<tr class="listname">
					<th width="10%">번호</th>
					<th width="45%">제목</th>
					<th width="10%">조회수</th>
					<th width="20%">작성일</th>
				</tr>
				<th:block th:each="vo : ${list}">
					<tr class="videolist">
						<td><b>[[${vo.vidx}]]</b></td>
						<td class="detaillink">
						<a href="#">[[${vo.subject}]]</a>
							<span style="color: orange;"></span></td>
						<td th:text="${vo.read_cnt}"></td>
						<td th:text="${#calendars.format(vo.reg_date,'yyyy-MM-dd')}"></td>
					</tr>
				</th:block>
				</table>
			</div>
			
			<div>
			
			</div>
			
			
			</div>
	</div> 
</body>
</html>